9 * * * * find /vagrant/www/public/img/temp/ -mmin +20 -exec rm -fv {} \; >/dev/null 2>&1
9 * * * * find /vagrant/www/app/temp/ -mmin +20 -exec rm -fv {} \; >/dev/null 2>&1
9 * * * * find /vagrant/www/public/img/full/ -mmin +20 -exec mogrify -resize 800x800\> {} \;
